html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: $grayishBlue;
}

h1,
h2 {
  color: $veryDarkBlue;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  display: inline-block;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 2.5rem;
  transition: all 0.2s ease-in-out;

  &--blue {
    background-color: $softBlue;

    &:hover {
      background-color: white;
      border: 1px solid $softBlue;
      color: $softBlue;
      box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &--gray {
    background-color: lightgray;
    color: $veryDarkBlue;

    &:hover {
      background-color: white;
      border: 1px solid $veryDarkBlue;
      box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &--red {
    background-color: $softRed;

    &:hover {
      background-color: white;
      color: $softRed;
      border: 1px solid $softRed;
      box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &--white {
    background-color: none;
    color: white;
    border: 1px solid white;
  }
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 16rem;
  overflow-x: hidden;
  @include breakpoint-down(medium) {
    padding: 0 2.5rem;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
