.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__text {
    flex: 1;

    @include breakpoint-down(medium) {
      order: 2;
    }

    h1 {
      margin-bottom: 2.5rem;
    }

    p {
      margin-bottom: 3.5rem;
    }
  }

  &__cta {
    a {
      margin-right: 1rem;
    }
  }

  &__image {
    flex: 1;
    position: relative;

    @include breakpoint-down(medium) {
      order: 1;
    }

    img {
      max-width: 58rem;
      transform: translateX(12rem);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100rem;
      height: 30rem;
      background-color: $softBlue;
      border-radius: 1000px;
    }
  }
}
